@{
    ViewBag.Title = "Contact";
}
<form id="myForm" style="padding:20px;" action="Upload" method="post" enctype="multipart/form-data">
    <input name="img" style="width:350px;height:25px;" size="38" type="file" /><input type="submit" value="上传" />
</form>